@import "tailwindcss";

@source "../**/*.{js,ts,jsx,tsx}";
@source "../../node_modules/react-three-game/dist/**/*.{js,ts,jsx,tsx}";

@font-face {
  font-family: "Nimbus Sans";
  src: url("/fonts/NimbusSanL-Reg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  /* background: var(--color-background);
  color: var(--color-foreground); */
  font-family: "Nimbus Sans", Arial, Helvetica, sans-serif;
  /* fix to prevent iOS pull to refresh */
  overflow: hidden;
  height: 100%;
  overscroll-behavior-y: contain;
  cursor: none;
}

canvas {
  touch-action: none;
}

.noscrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}